/* Nilufer Anlar, mystyles.css */

/* 
   I used Modular Scale Minor 3rd, 120% in the Math calculations below.
   I assumed browser defult font size of 16px.
*/

/* ===== BASE STYLES ==================== */

html {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2/16px=1.2) */
  padding: 0.5em 0.5em;  
}

/* setup "font-family" of Sans-Serif */
body {
  font-family: "Times New Roman", Georgia, Serif;
  background-color: lavender;
}

/* for Responsive Media */
img, audio, video {
  display: block;
  max-width: 100%;
}

/* ===== LAYOUT STYLES ================== */

h1 {
  font-size: 1.5em;  /* 24px, (24px/16px=1.5em) */
  line-height: 1.81em;  /* 120% at ~29px, (29px/16px=1.81em) */
  font-weight: 700;  /* for bold */
}

h2 {
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.25em;  /* ~120% at ~20px, (20px/16px=1.125em) */
  font-weight: 700;  /* for bold */
  margin: 0.5em 0 0.5em 0;  /* 8px, (8px/16px=0.5em) */
}

h3 {
  font-size: 0.75em;  /* 12px, 12px/16px=0.75em */
  font-weight: 700;
}

p {
  font-family: "Times New Roman";
  font-size: 1em;  /* 16px, (16px/16px=1em) */
  line-height: 1.2em;  /* 120% at 19.2px, (19.2px/16px=1.2em)*/
  padding: 0.2em 0 0.2em 0;  /* at ~4px */
}

#gift {
  font-size: 1em;
  font-style: oblique;
  color: crimson;
  margin-top: 0;
}

label {
  display: block;
  font-Size: 0.75em;  /* at 12px (12px/16px=0.75em) */
}

#wrap-inputs {
  background-color: lightblue; 
  padding: 8px 8px 8px 8px;  /* top right bottom left*/
}

input {
  width: 100%; /* mobile friendly */
  border-style: none;
  padding: 4px 0 4px 4px;  /* top right bottom left */
  margin: 8px 0 12px 0;
} 

#em-disclaimer {
  font-size: 0.625em;  /* at 10px, (10px/16px=0.625em) */
  line-height: 0.625em; /* now */
  color: green;
  font-style: oblique;
}

label[for=age-verification] {
  font-size: 0.75em;
  border-style: none;
  float: left;
  margin: 0.5em 0.5em 0 0; /* 8px is 0.5em */
}

#age-verification {
  border-style: none;
  width: auto;
  margin: 0.25em 0;  /* 4px, (4px/16px=0.25em) */
  width: 1em;  /* 16px, (16px/16px=1em) */
  height: 1em;  /* 16px, (16px/16px=1em) */
}

#submit {
  width: 100%;
  font-size: 1em;
  font-weight: 700;  /* for bold effect */
  border-style: none;
  margin: 0;
  padding: 0.5em 0;  /* 8px, (8px/16px=0.5em) */
  background-color: darkgray;  /* NOW */
  color: white;  /* NOW */
}

#nums, #numbers {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hist {
  text-align: center;
}

iframe {
  position: relative;
  border: 1px solid black;
}

#footer {
  width: 100%;
  background-color: gray;
  font-size: 0.75em;  /* at 12px */
  text-align: center;
}

/* ===== MODULAR STYLES ================= */

/* My MEDIA queries are listed below */

/* for tablets */
@media screen and (min-width: 768px) {  
  #wrap-inputs {
    text-align: center;
    margin: auto;
  }
  
  label {
    font-size: 1.2em;
  }
  
  input {
    width: 100%;
  }
  
  label[for=age-verification] {
  font-size: 0.75em;
  float: none;
  margin: 8px 8px 0 0; /* now */
}
  
  #submit {
    width: 60%;
    display: block;
    margin: auto;
    padding: 0;
    font-size: 1.5em;
    background-color: gray;
  }
  
  iframe {
    border: 1px solid black;
    width: 300px;
    height: 200px;
  }
  
  footer {
    font-size: 0.75em;  /* at 12px */
    text-align: center;
  }
} 

/* for desktops and wide screens */
@media screen and (min-width: 992px) {
  #content {
    float: left;
    width: 60%;
    margin: 0 20px;  /* top-bottom, right-left */
  }
  
  #addinfo {
    float: left;
    width: 40%;
    margin: 0 0 0 0;  /* top right bottom left */
  }  
  
  #submit {
    font-size: 1.5em; /* NHA */
    line-height: 2em; /* NHA */
    margin: auto;
    padding: 0;
    color: white;
    background-color: blue; /* NHA */
  }
  
  #footer {
    clear: left;
  }
}
  
/* ===== STATE STYLES =================== */

/* === for javascript === */
/* not sure what to add here yet */
 

/* ====== end of mystyles.css ======= */